

<section class="inner_box">

<div class="header-wrapper overlay header-md">
    <header class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Edit Contact</h1>
        </div>
      </div>
    </header>
  </div>

 <div class="edit_contact_box">

    <div class="container align_top">
        <form>

              <div class="form-group box_size">
                  <label class="form_name">contact type</label>
                  <div class="field_form">
                      <div class="contact_box">
                          <mat-radio-group>
                              <mat-radio-button value="m"> Customer </mat-radio-button>
                              <mat-radio-button value="f"> Vendor </mat-radio-button>
                            </mat-radio-group>
                        </div>

                  </div>
                </div>
                <div class="form-group box_size">
                    <label class="form_name">customer type</label>
                    <div class="field_form">
                        <div class="contact_box">
                            <mat-radio-group>
                                <mat-radio-button value="m"> Business </mat-radio-button>
                                <mat-radio-button value="f"> Individual </mat-radio-button>
                              </mat-radio-group>
                          </div>

                    </div>
                  </div>
          <div class="form-group">
              <label class="form_name">primary contact</label>
              <div class="field_form">
                  <div class="contact_box">
                      <mat-form-field>
                          <mat-label>Mr</mat-label>
                          <mat-select placeholder="Mr">
                            <mat-option value="option">Mr</mat-option>
                            <mat-option value="option">Mrs</mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
                  <div class="contact_box">
                      <mat-form-field>
                        <input matInput name="firstName" value="{{customerViewModel.firstName}}"  [(ngModel)]="customerViewModel.firstName"   placeholder="firstName">
                      </mat-form-field>
                    </div>
                    <div class="contact_box">
                        <mat-form-field>
                          <input matInput name="lastName" value="{{customerViewModel.lastName}}"  [(ngModel)]="customerViewModel.lastName"  placeholder="Last Name">
                        </mat-form-field>
                      </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form_name">company name</label>
              <div class="field_form">
              <div class="contact_box">
              <mat-form-field>
                <input matInput  name="companyName" value="{{customerViewModel.companyName}}"  [(ngModel)]="customerViewModel.companyName" placeholder="Company Name">
              </mat-form-field>
            </div>
            </div>
            </div>
            <div class="form-group">
              <label class="form_name">contact display name</label>
              <div class="field_form">
                  <div class="contact_box">
                    <mat-form-field>
                      <mat-select placeholder="Customer 1">
                        <mat-option value="option">Mr.Customer1</mat-option>
                        <mat-option value="option">Mr.Customer2</mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
              </div>
            </div>

            <div class="form-group">
                <label class="form_name">contact email</label>
                <div class="field_form">
                <div class="contact_box">
                <mat-form-field>
                  <input matInput name="EmailAddress" value="{{customerViewModel.email}}"  [(ngModel)]="customerViewModel.email" placeholder="customer@dds.com">
                </mat-form-field>
              </div>
              </div>
              </div>

                <div class="form-group">
                    <label class="form_name">Contact Phone</label>
                    <div class="field_form">
                        <div class="contact_box">
                            <mat-form-field>
                              <input matInput name="workPhone" value="{{customerViewModel.workPhone}}"  [(ngModel)]="customerViewModel.workPhone"  placeholder="Work Phone">
                            </mat-form-field>
                          </div>
                        <div class="contact_box">
                            <mat-form-field>
                              <input matInput name="mobileNumber" value="{{customerViewModel.mobileNumber}}"  [(ngModel)]="customerViewModel.mobileNumber"  placeholder="Mobile">
                            </mat-form-field>
                          </div>
                    </div>
                  </div> 
                  <div class="form-group">
                      <label class="form_name">Website</label>
                      <div class="field_form"> 
                          <div class="contact_box">
                              <mat-form-field>
                                <input matInput name="websiteAddress" value="{{customerViewModel.websiteAddress}}"  [(ngModel)]="customerViewModel.websiteAddress"  placeholder="Zero.com">
                              </mat-form-field>
                            </div>
                      </div>
                    </div>

        </form>

      </div>


      <div class="container  mt-5">
          <div class="col second_head">
              <h1>Tax and payment details</h1>
            </div>
            <mat-tab-group>
                <mat-tab label="Address">
                  <div class="address_box">
                    <div class="address_divide">
                      <div class="sub_address_head">
                        <h3>Billing Address</h3>
                      </div>
                      <form>

                        <div class="form-group">
                            <label class="form_name">Attention</label>
                            <div class="field_form">
                                <div class="contact_box">
                                    <mat-form-field>
                                      <input matInput placeholder="First Name">
                                    </mat-form-field>
                                  </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <label class="form_name">Address</label>
                              <div class="field_form">
                              <div class="contact_box">
                                <mat-form-field>
                                   <textarea matInput placeholder="Street1"></textarea>
                                 </mat-form-field>
                                 <mat-form-field>
                                    <textarea matInput placeholder="Street2"></textarea>
                                  </mat-form-field>
                            </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="form_name">City</label>
                                <div class="field_form">
                                <div class="contact_box">
                                <mat-form-field>
                                  <input matInput placeholder="City">
                                </mat-form-field>
                              </div>
                            </div>
                              </div>
                              <div class="form-group">
                                  <label class="form_name">state</label>
                                  <div class="field_form">
                                  <div class="contact_box">
                                  <mat-form-field>
                                    <input matInput placeholder="state">
                                  </mat-form-field>
                                </div>
                              </div>
                                </div>
                                <div class="form-group">
                                    <label class="form_name">Zip Code</label>
                                    <div class="field_form">
                                        <div class="contact_box">
                                            <mat-form-field>
                                              <input matInput placeholder="Zip Code">
                                            </mat-form-field>
                                          </div>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="form_name">Country</label>
                                      <div class="field_form">
                                          <div class="contact_box">
                                            <mat-form-field>
                                              <mat-select placeholder="Select">
                                                <mat-option value="option">Select type to add</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                            </div>
                                      </div>
                                    </div>

                                  <div class="form-group">
                                      <label class="form_name">Fax</label>
                                      <div class="field_form">
                                          <div class="contact_box">
                                              <mat-form-field>
                                                <input matInput placeholder="Fax">
                                              </mat-form-field>
                                            </div>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form_name">Phone</label>
                                        <div class="field_form">
                                            <div class="contact_box">
                                                <mat-form-field>
                                                  <input matInput placeholder="Phone">
                                                </mat-form-field>
                                              </div>
                                        </div>
                                      </div>
                      </form>
                    </div>
                    <div class="address_divide">
                        <div class="sub_address_head">
                      <h3>Shipping Address</h3>
                    </div>
                      <form>

                        <div class="form-group">
                            <label class="form_name">Attention</label>
                            <div class="field_form">
                                <div class="contact_box">
                                    <mat-form-field>
                                      <input matInput placeholder="First Name">
                                    </mat-form-field>
                                  </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <label class="form_name">Address</label>
                              <div class="field_form">
                              <div class="contact_box">
                                <mat-form-field>
                                   <textarea matInput placeholder="Street1"></textarea>
                                 </mat-form-field>
                                 <mat-form-field>
                                    <textarea matInput placeholder="Street2"></textarea>
                                  </mat-form-field>
                            </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="form_name">City</label>
                                <div class="field_form">
                                <div class="contact_box">
                                <mat-form-field>
                                  <input matInput placeholder="City">
                                </mat-form-field>
                              </div>
                            </div>
                              </div>
                              <div class="form-group">
                                  <label class="form_name">state</label>
                                  <div class="field_form">
                                  <div class="contact_box">
                                  <mat-form-field>
                                    <input matInput placeholder="state">
                                  </mat-form-field>
                                </div>
                              </div>
                                </div>
                                <div class="form-group">
                                    <label class="form_name">Zip Code</label>
                                    <div class="field_form">
                                        <div class="contact_box">
                                            <mat-form-field>
                                              <input matInput placeholder="Zip Code">
                                            </mat-form-field>
                                          </div>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="form_name">Country</label>
                                      <div class="field_form">
                                          <div class="contact_box">
                                            <mat-form-field>
                                              <mat-select placeholder="Select">
                                                <mat-option value="option">Select type to add</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                            </div>
                                      </div>
                                    </div>

                                  <div class="form-group">
                                      <label class="form_name">Fax</label>
                                      <div class="field_form">
                                          <div class="contact_box">
                                              <mat-form-field>
                                                <input matInput placeholder="Fax">
                                              </mat-form-field>
                                            </div>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form_name">Phone</label>
                                        <div class="field_form">
                                            <div class="contact_box">
                                                <mat-form-field>
                                                  <input matInput placeholder="Phone">
                                                </mat-form-field>
                                              </div>
                                        </div>
                                      </div>
                      </form>
                    </div>
                  </div>

                 </mat-tab>
                <mat-tab label="Custom Fields"> Content 2 </mat-tab>
                <mat-tab label="Notes"> Content 3 </mat-tab>
              </mat-tab-group>

          <div class="button-container">
            <button type="button" class="button" (click)="customer()"><span>Submit</span></button>
          </div>
        </div>



      </div>
    </section>
