<section class="inner_box">
  <!-- <mat-card-header>
    <mat-card-title>
      <h2>Register</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content> -->
      <div class="header-wrapper overlay header-md">
          <header class="container-fluid">
            <div class="row">
              <div class="col">
                <h1>Register</h1>
              </div>
            </div>
          </header>
        </div>
        <div class="login_box">
            <div class="container align_top">
    <form>

      <div>
        <mat-form-field style="width:300px">
          <input matInput name="EmailAddress" value="{{userViewModel.emailAddress}}" [(ngModel)]="userViewModel.emailAddress" placeholder="Email Address">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input matInput name="FirstName" placeholder="First Name" value="{{userViewModel.firstName}}" [(ngModel)]="userViewModel.firstName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input matInput name="LastName" placeholder="Last Name" value="{{userViewModel.lastName}}" [(ngModel)]="userViewModel.lastName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input matInput name="CompanyName" placeholder="Company Name" value="{{userViewModel.companyName}}" [(ngModel)]="userViewModel.companyName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input matInput  type="password"  name="Password" placeholder="Password" value="{{userViewModel.password}}" [(ngModel)]="userViewModel.password">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input matInput type="password" name="PasswordConfirmation" placeholder="Confirm Password" value="{{userViewModel.passwordConfirmation}}" [(ngModel)]="userViewModel.passwordConfirmation">
        </mat-form-field>
      </div>


    </form>
    </div>
    </div>

    <div class="button-container">
    <button class="button" type="button" (click)="register()"> <span>Register</span> </button>
    </div>
</section>